{% extends 'base.html' %}

{% block content %}
<h1>Tasks</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, distinctio maiores 
    voluptatem minima esse tenetur suscipit accusantium repellat molestiae in laboriosam cumque? 
    Non consectetur ab at inventore! Reiciendis, saepe cum nam cupiditate temporibus 
    ducimus rem doloribus ullam nihil dignissimos magnam sed doloremque laboriosam 
    sequi odit deserunt, voluptates illo aperiam labore fugit architecto. Corrupti, alias amet? 
    Praesentium eveniet iusto ad quos sit. Vero fugiat sed in aperiam eum magni mollitia debitis 
    voluptatem deleniti, ex temporibus tempore libero veritatis fuga provident repellat illo, cum 
    possimus necessitatibus dolores repudiandae? Rem consectetur autem consequuntur voluptatem. 
    Error debitis nihil accusamus unde at, quasi eos maxime.</p>
{% endblock %}


